<div>
    <h3 class="text-left">{{catagory}}</h3>
    <hr />
    <div data-ng-repeat="product in products">
        <div class="row">
            <div class="col-md-4 pull-left">
                <div class="row">
                    <img style="height: 143px; width: 200px" data-ng-src="{{product.image[0]}}" />
                </div>
                <div class="row">
                    <h4>{{product.name}}</h4>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <ul data-ng-repeat="desc in product.description">
                        <li>{{desc}}</li>
                    </ul>
                </div>
                <div class="row">
                    <a class="btn btn-default" target="_blank" data-ng-href="{{product.brochureLink}}"><span class="fa fa-download"></span>Brochoure</a>
                </div>
            </div>
            <br />

        </div>
        <hr />
    </div>
    <!--<table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>PDF</th>
            </tr>
        </thead>
        <tbody data-ng-repeat="product in products">
            <tr>
                <td>
                    <h3>{{product.name}}</h3>
                    <br/><br/>
                    <img style="height: 143px; width: 200px" data-ng-src="{{product.image[0]}}"/>
                </td>
                <td>
                    <div data-ng-show="product.brochureLink !== ''">
                        <a target="_blank" data-ng-href="{{product.brochureLink}}">Brochoure</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>-->

</div>
